
on init
#omr
    mkdir /omr 0771 system system

on post-fs-data

# HD-DMB CAS Key Data
    mkdir /data/.dmbca 0771
    chown media system /data/.dmbca
    chmod 0771 /data/.dmbca

on boot

# tdmb
    chown system system /dev/tdmb
    chmod 0660 /dev/tdmb

on fs
#omr
    wait /dev/block/platform/11120000.ufs/by-name/OMR
    mount ext4 /dev/block/platform/11120000.ufs/by-name/OMR /omr nosuid nodev noatime noauto_da_alloc,discard,journal_checksum,data=ordered,errors=panic
    chown system system /omr
    chmod 0771 /omr

service dmb /system/bin/dmbserver
    class main
    user media
    group system radio inet misc audio graphics net_bt net_bt_admin sdcard_rw sdcard_r shell media_rw oem_5432
