/dts-v1/;
#include "exynos9810-starlte_common.dtsi"
#include "battery_data_starlte_eur_18.dtsi"
#include "exynos9810-starlte_fingerprint_16.dtsi"
#include "exynos9810-starlte_mst_01.dtsi"
#include "exynos9810-starlte_if-pmic-max77705.dtsi"
#include "exynos9810-starlte_eur_open_gpio_18.dtsi"

/ {
	compatible = "Samsung, Star rev26", "Samsung,EXYNOS9810";
	model = "Samsung Star rev26 board based on EXYNOS9810";
	model_info-chip = <9810>;
	model_info-platform = "android";
	model_info-subtype = "samsung";
	model_info-hw_rev = <26>;
	model_info-hw_rev_end = <255>;

	reserved_memory: reserved-memory {
		rkp_region: rkp_region@0xAF800000 {
			compatible = "removed-dma-pool";
			reg = <0x00 0xaf800000 0x1800000>;
		};

		tima_mem: tima_region@0xB8000000 {
			no-map;
		};
	};

	pinctrl_0: pinctrl@14050000 {
		initial0: initial-state {
			gpa3-0 {
				samsung,pins = "gpa3-0";
				samsung,pin-function = <0x00>;
				samsung,pin-pud = <0x00>;
			};

			gpq0-5 {
				samsung,pins = "gpq0-5";
				samsung,pin-function = <0x00>;
				samsung,pin-pud = <0x01>;
			};
		};

		fmradio_int: fmradio-int {
			samsung,pins = "gpa2-1";
			samsung,pin-function = <0x0f>;
			samsung,pin-pud = <0x00>;
			samsung,pin-drv = <0x03>;
		};

		bt_hostwake: bt-hostwake {
			samsung,pins = "gpa2-3";
			samsung,pin-function = <0>;
			samsung,pin-pud = <0>;
		};
	};

	pinctrl_2: pinctrl@13A80000 {
		tdmb_ant_on: tdmb-ant-on {
			samsung,pins = "gph1-0";
			samsung,pin-function = <0x01>;
			samsung,pin-pud = <0x00>;
			samsung,pin-val = <0x01>;
		};

		tdmb_ant_off: tdmb-ant-off {
			samsung,pins = "gph1-0";
			samsung,pin-function = <0x01>;
			samsung,pin-pud = <0x00>;
			samsung,pin-val = <0x00>;
		};

		fm_lna_en: fm-lna-en {
			samsung,pins = "gph1-3";
			samsung,pin-function = <0x01>;
			samsung,pin-pud = <0x01>;
			samsung,pin-con-pdn = <0x03>;
			samsung,pin-pud-pdn = <0x01>;
		};
	};

	pinctrl_3: pinctrl@14220000 {
		tdmb_irq_on: tdmb-irq-on {
			samsung,pins = "gpm40-0";
			samsung,pin-function = <0x0f>;
			samsung,pin-pud = <0x00>;
		};

		tdmb_irq_off: tdmb-irq-off {
			samsung,pins = "gpm40-0";
			samsung,pin-function = <0x00>;
			samsung,pin-pud = <0x01>;
		};
	};

	pinctrl@11430000 {
		sd2_cmd: sd2-cmd {
			samsung,pins = "gpf1-1";
			samsung,pin-function = <2>;
			samsung,pin-pud = <0>;
			samsung,pin-drv = <3>;
		};

		sd2_bus1: sd2-bus-width1 {
			samsung,pins = "gpf1-2";
			samsung,pin-function = <2>;
			samsung,pin-pud = <0>;
			samsung,pin-drv = <3>;
		};

		sd2_bus4: sd2-bus-width4 {
			samsung,pins = "gpf1-3", "gpf1-4", "gpf1-5";
			samsung,pin-function = <2>;
			samsung,pin-pud = <0>;
			samsung,pin-drv = <3>;
		};
	};

	pinctrl_6: pinctrl@10430000 {
		spi1_bus: spi1-bus {
			samsung,pin-pud = <0x03>;
			samsung,pin-drv = <0x00>;
		};

		spi1_cs_func: spi1-cs-func {
			samsung,pin-drv = <0x00>;
		};

		spi5_idle: spi5-idle {
			samsung,pins = "gpp2-3", "gpp2-2", "gpp2-1", "gpp2-0";
			samsung,pin-function = <0x00>;
			samsung,pin-pud = <0x01>;
			samsung,pin-drv = <0x00>;
		};

		hrm_en: hrm-en {
			samsung,pins = "gpg1-6";
			samsung,pin-function = <0>;
			samsung,pin-pud = <1>;
			samsung,pin-drv = <2>;
		};

		hrm_ensleep: hrm-ensleep {
			samsung,pins = "gpg1-6";
			samsung,pin-con-pdn = <2>;
			samsung,pin-pud-pdn = <1>;
		};

		hrm_enidle: hrm-enidle {
			samsung,pins = "gpg1-6";
			samsung,pin-function = <0>;
			samsung,pin-pud = <1>;
			samsung,pin-drv = <2>;
		};

		cfg_wlanen: cfg_wlanen {
			samsung,pins = "gpg0-5";
			samsung,pin-function = <1>;
			samsung,pin-pud = <0>; /* NONE */
			samsung,pin-drv = <3>;
			samsung,pin-con-pdn = <3>;
		};

		ssp_gps_pwr_en: ssp-gps-pwr-en {
			samsung,pins = "gpg0-2";
			samsung,pin-function = <1>;
			samsung,pin-pud = <1>;
			samsung,pin-drv = <3>;
			samsung,pin-con-pdn = <3>;
			samsung,pin-pud-pdn = <0>;
		};

		bt_btwake: bt-btwake {
			samsung,pins = "gpg2-0";
			samsung,pin-function = <1>;
			samsung,pin-pud = <0>;
			samsung,pin-con-pdn = <3>;
			samsung,pin-pud-pdn = <0>;
		};
	};

	pinctrl@10830000 {
		spi7_bus_suspend: spi7-bus-suspend {
			samsung,pins = "gpp4-2", "gpp4-1", "gpp4-0";
			samsung,pin-function = <0>;	/* INPUT */
			samsung,pin-pud = <1>;		/* DOWN */
			samsung,pin-drv = <0>;
		};
		spi7_cs_suspend: spi7-cs-suspend {
			samsung,pins = "gpp4-3";
			samsung,pin-function = <0>;	/* INPUT */
			samsung,pin-pud = <1>;		/* DOWN */
			samsung,pin-drv = <0>;
		};
	};

	hsi2c_11: hsi2c@104C0000 {
		rtcfmradio@64 {
			compatible = "richwave,rtc6213n", "rtc6213n";
			reg = <0x64>;
			interrupts = <0x01 0x00 0x00>;
			interrupt-parent = <&gpa2>;
			pinctrl-names = "default";
			pinctrl-0 = <&fmradio_int &fm_lna_en>;
			fmint-gpio = <&gpa2 0x01 0x00>;
			fm-lna-gpio = <&gph1 0x03 0x00>;
			volume_db;
			radio_vol = <0x2c 0x2b 0x27 0x24 0x21 0x1e 0x1b 0x18 0x15 0x12 0x0f 0x0c 0x0a 0x08 0x06 0x04>;
		};
	};

	spi@104D0000 {
		pinctrl-names = "default", "idle";
		pinctrl-0 = <&spi5_bus &spi5_cs>;
		status = "ok";
		num-cs = <0x01>;
		pinctrl-1 = <&spi5_idle>;

		tdmb-spi@0 {
			compatible = "tdmb_spi_comp";
			reg = <0x00>;
			spi-max-frequency = <0x927c00>;

			controller-data {
				cs-gpio = <&gpp2 0x03 0x00>;
				samsung,spi-feedback-delay = <0x00>;
			};
		};
	};

	/* SPI USI_PERIC1_USI06_SPI */
	spi_7: spi@108A0000 {
		status = "okay";
		/delete-property/ pinctrl-names;
		/delete-property/ pinctrl-0;

		ese_spi@0 {
			compatible = "ese_p3";
			reg = <0>;
			spi-max-frequency = <13000000>;
			gpio-controller;
			#gpio-cells = <2>;

			p3-vdd-1p8= "VDD_ESE_1P8";

			clocks = <&clock GATE_USI06>, <&clock USI06>;
			clock-names = "pclk", "sclk";
			ese_p3,cs-gpio = <&gpp4 3 0>;

			pinctrl-names = "ese_active", "ese_suspend";
			pinctrl-0 = <&spi7_bus &spi7_cs>;
			pinctrl-1 = <&spi7_bus_suspend &spi7_cs_suspend>;

			controller-data {
				samsung,spi-feedback-delay = <0>;
				samsung,spi-chip-select-mode = <0>;
			};
		};
	};

	spi_20: spi@13AC0000{
		#address-cells = <1>;
		#size-cells = <0>;

		pinctrl-names = "default";
		pinctrl-0 = <&sensorhub_mosi_sck_ssn &sensorhub_miso>;

		num-cs = <1>;
		status = "okay";
	/*
	 *	dma-mode;
	 *	dmas = <&pdma0 21 0
	 *		&pdma0 20 0>;
	 */
		BCM4773@0 {
			compatible = "ssp,BCM4773";
			reg = <0>;
			/* spi-max-frequency = <26000000>; */
			spi-max-frequency = <25000000>;
			spi-cpol;
			spi-cpha;
			pinctrl-names = "default";
			pinctrl-0 = <&ssp_host_req &ssp_mcu_req &ssp_mcu_resp &ssp_batch_wake_irq &ssp_shub_int>;

			gpio-controller;
			#gpio-cells = <2>;
			ssp-host-req = <&gpa1 7 0x00>;
			ssp-mcu-req = <&gph0 5 0x00>;
			ssp-mcu-resp = <&gph0 4 0x00>;
			ssp-batch-wake-irq = <&gpa0 5 0x00>;
			ssp-shub-int = <&gpa4 0 0x00>;
			ssp-acc-position = <4>;
			ssp-mag-position = <5>;
			ssp-sns-combination = <0>;
			ssp-ap-rev = <1>;
			ssp-mag-array = /bits/ 8 <216 82 110 20 16 123 255 209 211 54 70 37 180 8 0 147 255 113 132 121
						190 252 250 15 9 40 180>;
			ssp-thermi-up = /bits/ 16 <3023 2990 2952 2903 2843 2772 2684 2582 2464 2335 2190 2037 1882 1742
						1558 1397 1246 1103 974 851 746 651 601>;
			ssp-thermi-sub = /bits/ 16 <3021 2990 2951 2903 2843 2771 2685 2584 2467 2339 2195 2044 1891
						1747 1567 1409 1258 1115 986 864 759 662 612>;
			ssp-glass-type = <0>;
			ssp-mag-type = <1>;
			ssp-vdd-mcu-1p8 = "vdd_mcu_1p8";

			controller-data {
				cs-gpio = <&gph0 3 0>;
				samsung,spi-feedback-delay = <0>;
			};
		};
	};

	hsi2c_11: hsi2c@104C0000 {
		status = "okay";
	};

	/* USI08_USI */
	hsi2c_20: hsi2c@108E0000 {
		gpios = <&gpp5 0 0 &gpp5 1 0>;
		status = "okay";
		clock-frequency = <400000>;
		sec-nfc@27 {
			compatible = "sec-nfc";
			reg = <0x27>;

			interrupts = <2 0 0>;
			interrupt-parent = <&gpa1>;

			sec-nfc,ven-gpio = <&expander_gpios 11 0>;
			sec-nfc,irq-gpio = <&gpa1 2 0>;
			sec-nfc,firm-gpio = <&expander_gpios 9 0>;
			sec-nfc,clk_req-gpio = <&gpa2 6 0xf>;
			sec-nfc,clk_use = <2>;
			sec-nfc,nfc_pvdd = "VDD_NFC_1P8";

			clocks = <&clock OSC_NFC>;
			clock-names = "oscclk_nfc";
			sec-nfc,nfc_ap_clk;
			sec-nfc,ldo_control;
		};

		hrmsensor@57 {
			compatible = "hrmsensor";
			reg = <0x57>;
			interrupt-parent = <&gpp3>;
			interrupts = <0 0 0>;
			pinctrl-names = "default", "sleep", "idle";
			pinctrl-0 = <&hrm_irq &hrm_en>;
			pinctrl-1 = <&hrm_irqsleep &hrm_ensleep>;
			pinctrl-2 = <&hrm_irqidle &hrm_enidle>;
			hrmsensor,hrm_int-gpio = <&gpp3 0 0>;
			hrmsensor,hrm_boost_en-gpio = <&gpg1 6 0>;
			hrmsensor,vdd_1p8 = "HRM_1.8V_AP";
			hrmsensor,i2c_1p8 = "VDD_NFC_1P8";
		};
	};

	gps {
		compatible = "samsung,exynos54xx-bcm4753";

		pinctrl-names = "hub_en";
		pinctrl-0 = <&ssp_gps_pwr_en>;

		gpios = <&gpg0 2 0x0>;
		status = "okay";
	};

	bluetooth {
		compatible = "samsung,bcm43xx";

		gpios = <&expander_gpios 7 0    /*BT_EN*/
			&gpg2 0 0    /*BT_WAKE*/
			&gpa2 3 0xF    /*BT_HOST_WAKE*/ >;
		pinctrl-names = "default";
		pinctrl-0=<&bt_hostwake &bt_btwake>;
		status = "okay";
	};

	dwmmc2@11500000 {
		ssc-rate = <3>;
	};

	sysmmu_dcf: sysmmu@16A30000 {
		compatible = "samsung,exynos-sysmmu";
		reg = <0x00 0x16a30000 0x9000>;
		interrupts = <0x00 0x144 0x00 0x00 0x145 0x00>;
		qos = <0x0f>;
		clock-names = "aclk";
		clocks = <0x1a 0x16a>;
		port-name = "CIP1/2";
		sysmmu,secure-irq;
		sysmmu,secure_base = <0x16a20000>;
		sysmmu,tlb_property = <0x30a 0x00 0x1030a 0x10001>;
		#iommu-cells = <0x00>;
	};

	iommu-domain_dcf {
		compatible = "samsung,exynos-iommu-bus";
		#address-cells = <0x02>;
		#size-cells = <0x01>;
		ranges;
		domain-clients = <&dummy_dcf>;
	};

	dummy_dcf: dummy_dcf {
		compatible = "samsung,exynos8890-mmu_test";
		reg = <0x00 0xcafe0000 0x1000>;
		interrupts = <0x00 0x00 0x00>;
		iommus = <&sysmmu_dcf>;
	};

	sysmmu_dcrd: sysmmu@16830000 {
		compatible = "samsung,exynos-sysmmu";
		reg = <0x00 0x16830000 0x9000>;
		interrupts = <0x00 0x132 0x00 0x00 0x133 0x00>;
		qos = <0x0f>;
		clock-names = "aclk";
		clocks = <0x1a 0x17f>;
		port-name = "DCP";
		sysmmu,secure-irq;
		sysmmu,secure_base = <0x16820000>;
		sysmmu,tlb_property = <0x1a0 0x00 0x101a0 0x1f0001 0x1020a 0x1f0000 0x1020a 0x1f0001 0x1020a 0x1f0002 0x1020a 0x1f0003 0x1020a 0x1f0004 0x1020a 0x1f0005 0x1020a 0x1f0006 0x1020a 0x1f0007 0x1020a 0x1f0008 0x1020a 0x1f0009 0x1020a 0x1f000a 0x1020a 0x1f000b 0x1020a 0x1f000c 0x1010a 0x1f0002 0x1010a 0x1f0003 0x1010a 0x1f0004 0x1010a 0x1f0005 0x1020a 0x1f000d 0x1020a 0x1f000e>;
		#iommu-cells = <0x00>;
	};

	speedy@141C0000 {
		status = "okay";

		s2mps18mfd@00 {
			regulators {
				ldo37_reg: LDO37 {
					regulator-name = "vdd_mcu_1p8";
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <1800000>;
				};

				ldo45_reg: LDO45 {
					regulator-name = "VDD_FM_2P8";
					regulator-min-microvolt = <0x2ab980>;
					regulator-max-microvolt = <0x2ab980>;
					regulator-ramp-delay = <0x2ee0>;
					regulator-always-on;
				};
			};
		};
	};

	tdmb_data {
		compatible = "samsung,tdmb";
		pinctrl-names = "tdmb_on", "tdmb_off";
		pinctrl-0 = <&tdmb_ant_on &tdmb_irq_on>;
		pinctrl-1 = <&tdmb_ant_off &tdmb_irq_off>;
		tdmb_pwr_en = <&expander_gpios 0x05 0x00>;
		tdmb_irq = <&gpm40 0x00 0x00>;
		tdmb_use_irq;
		tdmb_xtal_freq = <0x5dc0>;
	};
};
